<%= form_tag "/forget_password", :method => 'post' do %>
<p>
  <%= label_tag "Enter your email address" %>
  <%= text_field_tag :email_address %>
</p>
<%= submit_tag "Send me a new password" %>
<% end %>
